// =============================
// Header
// =============================
@use 'styles/Elementary/Core' as core;
@use 'styles/Elementary/Global/Layout/Container' as container;

.Header {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.Header-logo,
.Header-logo-image {
  height: 64px;
  width: 64px;

  @include core.breakpoint(xl) {
    height: 128px;
    width: 128px;
  }
}

.Header-nav {
  display: flex;
  align-items: center;
}

.Header-link {
  margin-right: 16px;
  text-decoration: none;

  &:last-of-type {
    margin-right: 0;
  }

  &.isActive {
    text-decoration: underline;
  }
}
